In [2]:
boolean=True
print(type(bool))

<class 'bool'>

In [4]:
string="Halo Guys!"
print(type(string))

<class 'str'>

In [5]:
integer=1
print(type(integer))

<class 'int'>

In [6]:
floaat=1.2
print(type(floaat))

<class 'float'>

In [12]:
listku=[1,2,3,4,5]
print(type(listku))
print(listku)
print(*listku)
print(listku[1])
print(len(listku))

import numpy as np
listkuh=np.array([1,2,3])
print(listkuh)
print(listkuh/2)

<class 'list'>
[1, 2, 3, 4, 5]
1 2 3 4 5
2
5
[1 2 3]
[0.5 1.  1.5]

In [13]:
tuple1=(1,2,3)
print(tuple1)
print(type(tuple1))

(1, 2, 3)
<class 'tuple'>

In [15]:
dict1={
    'nama':'Aufa Mutia',
    'kelas' : 'IF4409',
    'nim' : '1301204233',
    'nilai' : [
               ['math',100],
               ['kalkulus',100],
               ['statistika',100]
    ]
}
print(dict1['nilai'][2])

['statistika', 100]

In [17]:
a,b=map(int,input().split())
print(a/b)

4 2
2.0